/*//@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap') layer(base);

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../**/*.blade.php';

@theme {
    --font-next: Atkinson Hyperlegible Next, sans-serif;

    --breakpoint-xs: 200px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@utility guru-icon {
    @apply h-auto w-auto inline-block;
}

@utility progress {
    @apply relative w-full overflow-hidden h-2 appearance-none rounded-2xl bg-gray-300;

    &::-webkit-progress-bar {
        @apply rounded-2xl bg-transparent;
    }
}

@utility progress-secondary {
    &::-moz-progress-bar {
        @apply rounded-2xl bg-red-500;
    }

    &::-webkit-progress-value {
        @apply bg-red-500;
    }
}

@utility progress__bar {
    @apply flex flex-col justify-start p-2 lg:px-12;

    @media (min-width: 976px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@layer utilities {
    #back,
    #next {
        font-variant: small-caps;
    }

    @keyframes shake {
        0%,
        100% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(5px);
        }
    }

    .error {
        @apply text-red-500 border-red-500 bg-pink-100;
        animation: shake 0.5s ease-in-out;
    }

    [x-cloak] {
        display: none !important;
    }
}

@layer base {
    *:focus-visible {
        @apply outline-hidden;
    }

    html {
        @apply font-next bg-zinc-200;
    }

    body {
        @apply w-[100dvw];
    }

    section {
        @apply p-2 md:px-8;
    }

    /*h1, h2, h3, h4 {*/
    /*    @apply font-poppins;*/
    /*}*/
    h2 {
        @apply text-slate-700 text-base md:text-lg lg:text-xl font-semibold;
    }

    h3 {
        @apply text-base md:text-lg font-semibold;
    }

    p {
        @apply text-sm md:text-base lg:text-lg text-pretty mb-2
    }

    li {
        @apply text-sm md:text-base text-pretty mb-1
    }

    a {
        @apply text-red-700 hover:text-red-500;
    }

    header {
        @apply text-amber-50 bg-slate-700 w-full px-5 py-2 flex items-center justify-start;
    }

    footer {
        @apply bg-slate-700 text-zinc-100 p-2;
    }

    footer a, .modFooter {
        @apply text-amber-200 hover:text-amber-500 hover:underline;
    }

    input {
        @apply bg-zinc-50;
    }

    textarea {
        @apply block p-2.5 w-full text-sm md:text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300
        ring-2 focus:ring-indigo-800 focus:border-indigo-700;
    }

}

@layer components {


    /* Progress Bar*/
    progress {
        @apply align-baseline;
    }
}

blockquote.bubble {
    @apply mx-auto my-0 text-left h-0 box-content  ;
}

blockquote.bubble p {
    @apply text-sm  md:text-base lg:text-xl text-pretty w-3/4 ml-6  leading-none sm:leading-tight md:leading-snug;
}

blockquote.bubble h2 {
    @apply mt-1 md:mt-8 pt-0 text-[.90rem] sm:text-base md:text-xl lg:text-2xl md:pt-4 text-center mb-1 md:mb-5;
}

blockquote.bubble h3 {
    @apply text-sm  md:text-base lg:text-lg ml-2 mb-1 md:mb-5;
}

blockquote.speech {
    @apply bg-white block w-full h-[80%] sm:h-3/4 pt-1 pb-1 md:pb-8 border-2 border-solid border-gray-900 rounded-xl;
}

.rating {
    @apply relative inline-flex;
}

.rating input {
    @apply appearance-none;
}

.rating .rating-hidden {
    @apply w-2 bg-transparent
}

.rating input[type="radio"]:checked {
    @apply bg-none;
}

.rating input:checked ~ input,
.rating input[aria-checked="true"] ~ input {
    --tw-bg-opacity: 0.2;
}

.rating input:focus-visible {
    @apply transition-transform translate-y-0.5;
}

.rating input:active:focus {
    @apply animate-none translate-y-0.5;
}

.rating-half :where(input:not(.rating-hidden)) {
    @apply w-3;
}

@keyframes rating-pop {
    0% {
        transform: translateY(-0.125em);
    }
    40% {
        transform: translateY(-0.125em);
    }
    100% {
        transform: translateY(0);
    }
}

.rating-lg input {
    @apply h-10 w-10;
}

.rating-half.rating-lg input:not(.rating-hidden) {
    @apply w-5;
}

.rating-half.rating-xl input:not(.rating-hidden) {
    @apply w-8 ;
}

.star {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.mask {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.mask-half-1 {
    -webkit-mask-size: 200%;
    mask-size: 200%;
    -webkit-mask-position: left;
    mask-position: left;
}

.mask-half-2 {
    -webkit-mask-size: 200%;
    mask-size: 200%;
    -webkit-mask-position: right;
    mask-position: right;
}

.mask-star-2 {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
}
