.rating {@apply relative inline-flex;}  
.rating input{@apply appearance-none;}  
.rating .rating-hidden{@apply w-2 bg-transparent}  
.rating input[type="radio"]:checked{@apply bg-none; }  
.rating input:checked ~ input,
.rating input[aria-checked="true"] ~ input{	--tw-bg-opacity: 0.2; }
.rating input:focus-visible{@apply transition-transform translate-y-0.5; }  
.rating input:active:focus{@apply animate-none translate-y-0.5;}  
.rating-half :where(input:not(.rating-hidden)){@apply w-3;}
  
  @keyframes rating-pop{
	0%{transform: translateY(-0.125em);	}  
	40%{transform: translateY(-0.125em);	}  
	100%{transform: translateY(0);	}
  }
  .rating-lg input{@apply h-10 w-10; } 
  .rating-half.rating-lg input:not(.rating-hidden){@apply w-5; }
  .rating-half.rating-xl input:not(.rating-hidden){@apply w-8 ;}
  .star{
	--tw-bg-opacity: 1;
	background-color: rgb(234 179 8 / var(--tw-bg-opacity));
  }
  .mask{
	-webkit-mask-size: contain;
			mask-size: contain;
	-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
	-webkit-mask-position: center;
			mask-position: center;
  }  
  .mask-half-1{
	-webkit-mask-size: 200%;
			mask-size: 200%;
	-webkit-mask-position: left;
			mask-position: left;
  }
  .mask-half-2{
	-webkit-mask-size: 200%;
			mask-size: 200%;
	-webkit-mask-position: right;
			mask-position: right;
  }  
  .mask-star-2{
	-webkit-mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
			mask-image: url("data:image/svg+xml,%3csvg width='192' height='180' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m96 153.044-58.779 26.243 7.02-63.513L.894 68.481l63.117-13.01L96 0l31.989 55.472 63.117 13.01-43.347 47.292 7.02 63.513z' fill-rule='evenodd'/%3e%3c/svg%3e");
  }
